<% layout('layout') -%>

<div class="alert alert-success alert-dismissible" style="display: none;" id="alert">
  <button id="clicker" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<h1><%= job.title %></h1>


<div class="row">

    <input type="hidden" id="url_id" value="<%= job._id %>" />
    <input type="hidden" id="csrf" name="_csrf" value="<%= _csrf %>" />
    <div class="col-md-4">
        <div class="thumbnail">

          <div class="caption">
            <h3></h3>
            <p><%= job.body %></p>
            <h4>$<%= job.salary %></h4>
            <span>Candidates <span id="totalCandidates"><%= job.totalCandidates %></span> / <%= job.candMax %></span>
          </div>
        </div>
      </a>
    </div>
    <% var alreadyApply = false;
    for(var i=0; i < job.candidates.length; i++) { %>
        <% if (user._id === job.candidates[i].user) { %>
           <% alreadyApply = true %>
        <% } %>
    <% } %>



    <% if (alreadyApply)  {%>
      <button type="submit" class="btn btn-success btn-lg" id="unapply"><span class="glyphicon glyphicon-ok"></span> Applied</button>
    <% } else { %>
      <button type="submit" class="btn btn-primary btn-lg" id="apply">Apply</button>
    <% } %>


</div>
