<% layout('blueprint-no') -%>
<link rel="stylesheet" href="/css/all-jobs.css">
<link rel="stylesheet" href="/css/search.css">

<input type="hidden" id="url_id" value="<%= job._id %>" />
<input type="hidden" id="csrf" name="_csrf" value="<%= _csrf %>" />
<div class="jumbotron" style="background: #3498db;
    color: white;">
  <div class="container">
  <p class="text-center"><img src="<%= job.company.profile.picture %>" class="img-circle"></p>
  <h1 class="text-center"><b><%= job.title %></b></h1>
  <h2 class="text-center">$<%= job.salary %></h2>
  <h3 class="text-center"><span>Candidates <span id="totalCandidates"><%= job.totalCandidates %></span> / <%= job.candMax %></span></h3>
  <p class="lead text-center">


      <% var alreadyApply = false;
      for(var i=0; i < job.candidates.length; i++) { %>
          <% if (String(user._id) === String(job.candidates[i].user)) { %>
             <% alreadyApply = true %>
          <% } %>
      <% } %>


      <% if (alreadyApply)  {%>
        <button type="submit" class="btn btn-success btn-lg" id="unapply"><span class="glyphicon glyphicon-ok"></span> Applied</button>
      <% } else { %>
        <button type="submit" class="btn btn-warning btn-lg" id="apply">Apply</button>
      <% } %>


  </p>
</div>
</div>




  <div style="margin-top: 3%; margin-bottom: 100px" class="container">
    <div class="text-center">
      <h1>What you have to do</h1>
      <h3><%= job.body %></h3>

    </div>

  </div>
