<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/admin/admin-header %>

  </head>
  <body class="hold-transition skin-blue sidebar-mini" style="">
    <div class="wrapper">

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="<%= user.profile.picture %>" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p><%= user.profile.name %></p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <li class="treeview">
              <a href="/">
                <i class="fa fa-edit"></i> <span>Home</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
            </li>
            <li>
              <a href="/company-jobs">
                <i class="fa fa-th"></i> <span>Jobs</span> <small class="label pull-right bg-green">
                  <%= jobs.length %>
                </small>
              </a>
            </li>


            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Post a jobs</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
            </li>
            <li>
              <a href="pages/mailbox/mailbox.html">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                <small class="label pull-right bg-yellow">12</small>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Company's Jobs
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <% for(var i = 0; i < jobs.length; i++) { %>
            <div class="col-lg-3 col-xs-6">
              <div class="small-box bg-green">
                <div class="inner">
                  <h4>Candidates: <%= jobs[i].totalCandidates %> / <%= jobs[i].candMax %></h4>
                  <h3><%= jobs[i].title %> </h3>
                </div>
                <div class="icon">
                  <!-- <i class="ion ion-person-add"></i> -->
                </div>
                <a href="/company-single-job/<%= jobs[i]._id %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <% } %>
          </div>

        </section>
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.3.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
      </footer>
    </div><!-- ./wrapper -->

   <% include ../partials/admin/admin-interact %>
  </body>
</html>
