<% layout('layout') -%>



<div class="row">
  <div class="col-lg-6 col-md-offset-3">
    <h1>Post a new Job</h1>

    <!-- show any messages that come back with authentication -->
    <% if (success.length > 0) { %>
  		<div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= success %>
      </div>
    <% } %>

  	<% if (error.length > 0) { %>
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= error %>
      </div>
    <% } %>


    <hr />
<form role="form" method="post">
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />


  <select name="category" class="selectpicker">
    <option value="Select Categories">Select Categories</option>
    <% for(var i = 0; i < categories.length ; i++) { %>
      <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
      <% } %>
  </select>

  <br />
  <br />
  <div class="form-group">
    <label for="name">Job Title:</label>
    <input type="text" class="form-control" name="title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" name="body">
  </div>
  <div class="form-group">
    <label for="salary">Salary:</label>
    <input type="text" class="form-control" name="salary">
  </div>

  <button type="submit" class="btn btn-success">Submit</button>

</form>
<hr />

</div>
 </div>
